<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">model</th>
        <th scope="col">engine</th>
        <th scope="col">engineVolume</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.series}"></td>
        <td th:text="${car.engineVolume}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>